
html {
    font-size: 62.5%;
}

body {
    background-color: #000000; 
    font-family: 'Roboto Flex', sans-serif;
}

.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 98%;
    max-width: 1198px;
}

header {
    background: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

h1 {
    font-size: 2.4rem;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 5.3rem;
    color: #000000;
}

h3 {
    font-size: 1.8rem;
    color: #000000;
    margin-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

h5 {
    font-size: 1.8rem;
    margin-top: -30px;
    color: #000000;
}

p {
    margin-bottom: 20px;
    line-height: 1;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #b8c8d6;
    width: 100%;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    padding: 20px 0;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 30%;
}

nav li {
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 70%;
}

footer {
    background-color: #254159;  
    display: block;
    float: left;
    padding: 20px 0;
    width: 99.9%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 400px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }  

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

#banner {
    background-image: url('../images/banner-index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 65vh;
    border-top: 7px solid #b8c8d6;

}

.legenda-container {
    width: 40vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
   
}


.legenda {
    background-color: #b8c8d6aa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.legenda h5,
.legenda h4 {
    color: #ffffff;
    line-height: 150%;
}

.button-cta {
    border-radius: 25px;
    display: inline-block;
    background-color: #000000;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #454545 ;
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    font-weight: 300;
    margin: 20px auto;
}


#saiba-mais {
    background-color: #b8c8d6;

    padding: 40px 0;
}

#saiba-mais p,
#saiba-mais img {
    width: 45%;
    display: block;
    float: left;
    padding: 20px;
}

#perguntas-frequentes {
    background-color: #91acc5;
    padding-top: 40px;
    padding-bottom: 40px;
}

dl {
    margin: 20px 0 ;
}
dt {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #060606;
    margin-bottom: 5px;
}

dd {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}
